footer {
  text-align: center;
  padding: 20px;
  background-color: var(--color-grey-900);
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--color-grey-300);
}

footer p {
  font-size: 14px;
  color: var(--color-grey-200);
}