.glide {
  margin-top: var(--size-6);
  margin-bottom: var(--size-5);
  width: 100%;
  height: 100%;
  position: relative; /* position arrows inside */
  cursor: grab;
}

.glide:active {
  cursor: grabbing;
}

.glide-track {
  overflow: hidden;
}

.glide-slides {
  display: flex;
  position: relative;
  width: 100%;
  list-style: none;
}

.glide-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.glide-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Arrow Buttons */
.glide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-grey-900);
  color: var(--color-grey-100);
  border: none;
  font-size: var(--size-6);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.glide-arrow-left {
  left: var(--size-2);
}

.glide-arrow-right {
  right: var(--size-2);
}

.glide-arrow:hover {
  background-color: var(--color-grey-700);
}

@media (max-width: 768px) {
  .glide-arrow {
    font-size: var(--size-4);
    padding: 6px;
  }

  .glide-arrow-left {
    left: var(--size-1);
  }
  
  .glide-arrow-right {
    right: var(--size-1);
  }
}