.project-card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-grey-800);
  color: var(--color-grey-100);
  text-align: center;
  margin-top: var(--size-4);
}

.card-image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  display: flex; /* Ensure the image covers the container */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content p {
  line-height: var(--size-6);
}